nav {
    background-color: #1E1E1E;
}

.dropdown-menu {
    background-color: #494949 !important;
}

@media (min-width: 1000px) {

    .navbar-collapse {
        display: flex;
        justify-content: end;
    }
}