img {
    height: 20rem !important;
}

.star-ratings {
    display: flex !important;
}

.star-container {
    display: flex !important;
    height: 100% !important;
    align-items: center !important;
}

.card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 2.5em;
    min-height: 2.5em;
}

.card-text {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 3em;
    min-height: 3em;
}